<div class="section review">
    <h3 class="sub-heading tlc">Testimonials</h3>
    <h2 class="heading tlc mb-60">
        Our Client Reviews
    </h2>
    
    <div class="container">
       <div class="slider-review slider-active">
           <div class="slider-review__wrap slick-initialized slick-slider"><button type="button" class="slick-prev-review pull-left slick-arrow slick-disabled" aria-disabled="true" style="display: flex;"><i class="fa-solid fa-arrow-left slick-arrow" aria-hidden="true"></i></button>
               <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2340px; transform: translate3d(0px, 0px, 0px);"><div class="slider-items__review slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 352px;"> 
                   <div class="client-review" style="background: url('./assets/img/client-review/bg-1.jpg') no-repeat center center / cover;">
                       <div class="client-info">
                           <div class="client-avatar__wrap">
                               <img src="./assets/img/client-review/ava-1.jpg" alt="" class="client-avatar">
                           </div>
                          <div class="client-info__descript">
                               <span class="client-name"> Bang Upin </span>
                               <p class="client-title">Pedagang Asongan</p>
                               <p class="client-comment">
                                   “Terimakasih banyak, kini ruanganku menjadi lebih mewah dan terlihat mahal“
                               </p>
                               <div class="client-star df">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review-blur.svg" alt="">

                               </div>
                          </div>
                       </div>
                   </div>
               </div><div class="slider-items__review slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 352px;"> 
                   <div class="client-review" style="background: url('./assets/img/client-review/bg-2.jpg') no-repeat center center / cover;">
                       <div class="client-info">
                           <div class="client-avatar__wrap">
                               <img src="./assets/img/client-review/ava-2.jpg" alt="" class="client-avatar">
                           </div>
                          <div class="client-info__descript">
                               <span class="client-name"> Ibuk Sukijan </span>
                               <p class="client-title">Ibu Rumah Tangga</p>
                               <p class="client-comment">
                                “Makasih Panto, aku sekarang berasa tinggal di apartment karena barang-barang yang terlihat mewah“
                               </p>
                               <div class="client-star df">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review-blur.svg" alt="">

                               </div>
                          </div>
                       </div>
                   </div>
               </div><div class="slider-items__review slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 352px;"> 
                   <div class="client-review" style="background: url('./assets/img/client-review/bg-3.jpg') no-repeat center center / cover;">
                       <div class="client-info">
                           <div class="client-avatar__wrap">
                               <img src="./assets/img/client-review/ava-3.jpg" alt="" class="client-avatar">
                           </div>
                          <div class="client-info__descript">
                               <span class="client-name"> Bang Upin </span>
                               <p class="client-title">Pedagang Asongan</p>
                               <p class="client-comment">
                                “Sangat terjangkau untuk kantong saya yang tidak terlalu banyak“
                               </p>
                               <div class="client-star df">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review.svg" alt="">
                                   <img src="./assets/icon/Star-review-blur.svg" alt="">

                               </div>
                          </div>
                       </div>
                   </div>
               </div><div class="slider-items__review slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 352px;"> 
                <div class="client-review" style="background: url('./assets/img/client-review/bg-1.jpg') no-repeat center center / cover;">
                    <div class="client-info">
                        <div class="client-avatar__wrap">
                            <img src="./assets/img/client-review/ava-1.jpg" alt="" class="client-avatar">
                        </div>
                       <div class="client-info__descript">
                            <span class="client-name"> Bang Upin </span>
                            <p class="client-title">Pedagang Asongan</p>
                            <p class="client-comment">
                                “Terimakasih banyak, kini ruanganku menjadi lebih mewah dan terlihat mahal“
                            </p>
                            <div class="client-star df">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review-blur.svg" alt="">

                            </div>
                       </div>
                    </div>
                </div>
            </div><div class="slider-items__review slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 352px;"> 
                <div class="client-review" style="background: url('./assets/img/client-review/bg-2.jpg') no-repeat center center / cover;">
                    <div class="client-info">
                        <div class="client-avatar__wrap">
                            <img src="./assets/img/client-review/ava-2.jpg" alt="" class="client-avatar">
                        </div>
                       <div class="client-info__descript">
                            <span class="client-name"> Ibuk Sukijan </span>
                            <p class="client-title">Ibu Rumah Tangga</p>
                            <p class="client-comment">
                             “Makasih Panto, aku sekarang berasa tinggal di apartment karena barang-barang yang terlihat mewah“
                            </p>
                            <div class="client-star df">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review-blur.svg" alt="">

                            </div>
                       </div>
                    </div>
                </div>
            </div><div class="slider-items__review slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 352px;"> 
                <div class="client-review" style="background: url('./assets/img/client-review/bg-3.jpg') no-repeat center center / cover;">
                    <div class="client-info">
                        <div class="client-avatar__wrap">
                            <img src="./assets/img/client-review/ava-3.jpg" alt="" class="client-avatar">
                        </div>
                       <div class="client-info__descript">
                            <span class="client-name"> Bang Upin </span>
                            <p class="client-title">Pedagang Asongan</p>
                            <p class="client-comment">
                             “Sangat terjangkau untuk kantong saya yang tidak terlalu banyak“
                            </p>
                            <div class="client-star df">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review.svg" alt="">
                                <img src="./assets/icon/Star-review-blur.svg" alt="">

                            </div>
                       </div>
                    </div>
                </div>
            </div></div></div>
           <button type="button" class="slick-next-review pull-right slick-arrow" style="display: flex;" aria-disabled="false"><i class="fa-solid fa-arrow-right slick-arrow" aria-hidden="true"></i></button></div>
       </div>
    </div>
 </div>