<div class="section best-selling">
    <div class="container">
        <h2 class="heading best-selling__heading">
            Best Selling Product
        </h2>

        <div class="category">
            <ul class="category-list">
                <li class="category-items active">
                    Chair
                </li>
                <li class="category-items">
                    Beds
                </li>
                <li class="category-items">
                    Sofa
                </li>
                <li class="category-items">
                    Lamp
                </li>
            </ul>
        </div>

        <div class="best-selling__product" style="height: 474px;">
            <div class="slider slider-active best-selling">
                <div class="slider-wrap slick-initialized slick-slider"><button type="button" class="slick-prev pull-left slick-arrow slick-disabled" aria-disabled="true" style="display: flex;"><i class="fa-solid fa-arrow-left slick-arrow" aria-hidden="true"></i></button>
                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2051px; transform: translate3d(0px, 0px, 0px);"><div class="slider-items slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-2.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Baltsar Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $299
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-3.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Anjay Chair 
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $519
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-4.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Nyantuy Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $921
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-5.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-6.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-7.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div></div></div>

                    

                    

                    

                    

                    

                    
                    
                <button type="button" class="slick-next pull-right slick-arrow" style="display: flex;" aria-disabled="false"><i class="fa-solid fa-arrow-right slick-arrow" aria-hidden="true"></i></button></div>
            </div>

            <div class="slider best-selling">
                <div class="slider-wrap slick-initialized slick-slider"><button type="button" class="slick-prev pull-left slick-arrow slick-disabled" aria-disabled="true" style="display: flex;"><i class="fa-solid fa-arrow-left slick-arrow" aria-hidden="true"></i></button>
                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2051px; transform: translate3d(0px, 0px, 0px);"><div class="slider-items slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-7.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-6.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Baltsar Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $299
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-5.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Anjay Chair 
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $519
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-4.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Nyantuy Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $921
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-3.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-2.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div></div></div>

                    

                    

                    

                    

                    

                    
                    
                <button type="button" class="slick-next pull-right slick-arrow" style="display: flex;" aria-disabled="false"><i class="fa-solid fa-arrow-right slick-arrow" aria-hidden="true"></i></button></div>
            </div>

            <div class="slider best-selling">
                <div class="slider-wrap slick-initialized slick-slider"><button type="button" class="slick-prev pull-left slick-arrow slick-disabled" aria-disabled="true" style="display: flex;"><i class="fa-solid fa-arrow-left slick-arrow" aria-hidden="true"></i></button>
                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2051px; transform: translate3d(0px, 0px, 0px);"><div class="slider-items slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-4.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-2.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Baltsar Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $299
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Anjay Chair 
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $519
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-3.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Nyantuy Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $921
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-7.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-5.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div></div></div>

                    

                    

                    

                    

                    

                    
                    
                <button type="button" class="slick-next pull-right slick-arrow" style="display: flex;" aria-disabled="false"><i class="fa-solid fa-arrow-right slick-arrow" aria-hidden="true"></i></button></div>
            </div>

            <div class="slider best-selling">
                <div class="slider-wrap slick-initialized slick-slider"><button type="button" class="slick-prev pull-left slick-arrow slick-disabled" aria-disabled="true" style="display: flex;"><i class="fa-solid fa-arrow-left slick-arrow" aria-hidden="true"></i></button>
                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2051px; transform: translate3d(0px, 0px, 0px);"><div class="slider-items slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-4.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Baltsar Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $299
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-6.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Anjay Chair 
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $519
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-3.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="0">
                                    Nyantuy Chair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $921
                                    <button class="product-plus df" tabindex="0">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>         
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-3.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-2.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div><div class="slider-items slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 263px;">
                        <div class="product-wrapper">
                            <div class="product-block">
                                <img src="./assets/img/category/img-1.png" alt="" class="product-img">

                            </div>
                            <div class="product-info">
                                <span class="product-name">
                                    Chair
                                </span>
                                <a href="#" class="product-name__detail" tabindex="-1">
                                    Sakarias Armchair
                                </a>

                                <div class="product-stars">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                    <img src="./assets/icon/Star.svg" alt="">
                                </div>

                                <div class="product-costs dfs">
                                    $392
                                    <button class="product-plus df" tabindex="-1">
                                        <img src="./assets/icon/Plus.svg" alt="">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div></div></div>
                <button type="button" class="slick-next pull-right slick-arrow" style="display: flex;" aria-disabled="false"><i class="fa-solid fa-arrow-right slick-arrow" aria-hidden="true"></i></button></div>
            </div>

        </div>
        <a href="#" class="reason-more view-all">View All
            <img src="./assets/icon/Arrow-long-left.svg" alt="">
        </a>
    </div>
</div>