<div class="section materials">
    <div class="container-full">
        <div class="materials-wrapper">
            <div class="materials-wrap fl-1">
                <h3 class="sub-heading">Materials</h3>
                <h2 class="heading expensive-headding">
                    Very serious materials for making furniture
                </h2>

                <p class="expensive-text materials-text">
                    Because panto was very serious about designing furniture for our environment, using a very expensive and famous capital but at a relatively low price
                </p>

                <a href="#" class="reason-more">
                    More Info
                    <img src="./assets/icon/Arrow-long-left.svg" alt="">
                </a>
            </div>

            
            <div class="row no-gutters fl-1 materials--modify-tablet">
                <div class="col l-4 m-12 hidden-pc-low">
                    <div class="row mb-47 no-gutters">
                        <div class="col l-12 ">
                            <img class="meterials-img " src="./assets/img/materials.jpg" alt="">

                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col l-12">
                            <img class="meterials-img meterials-img--box-shadow" src="./assets/img/materials1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col l-8 m-12 mt meterials-img--modify-pc-low meterials-img--modify-tab" style="transform: translateX(21px);">
                    <div class="meterials-img__wrap">
                        <img class="meterials-img__scale" src="./assets/img/materials3.jpg" alt="">
                    </div>
                </div>
            </div>
            
        </div>
            
        
    </div>
 </div>