<div class="section expensive">
    <div class="container-full">
        <div class="expensive-wrapper">
            <div class="expensive-img">
                <img src="./assets/img/ex.jpg" alt="">
            </div>
        
            <div class="expensive-wrap">
                
                <h3 class="sub-heading">experiences</h3>
                <h2 class="heading expensive-headding">
                    we provide you the best experience
                </h2>

                <p class="expensive-text">
                    You don’t have to worry about the result because all of these interiors are made by people who are professionals in their fields with an elegant and lucurious style and with premium quality materials
                </p>

                <a href="#" class="reason-more">
                    More Info
                    <img src="./assets/icon/Arrow-long-left.svg" alt="">
                </a>
            </div>

        </div>
    </div>
 </div>